In [1]:
# Import SQL Alchemy
from sqlalchemy import create_engine, Column, Integer, String, Float
# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base

import pandas as pd

# Import PyMySQL (Not needed if mysqlclient is installed)
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
Base = declarative_base()

In [3]:
# Create restaurant class
# ----------------------------------
class RestaurantData(Base):
    __tablename__ = 'restaurants'
    id = Column(Integer, primary_key=True)
    name = Column(String(255))
    lat = Column(Float(5))
    lng = Column(Float(5))
    cuisines = Column(String(255))
    ave_cost = Column(Float(2))
    rating = Column(Integer)
    vote = Column(Integer)
    price_range = Column(Integer)
    featured_image = Column(String(255))
    menu = Column(String(255))

In [4]:
# Create Database Connection
# ----------------------------------
# Establish Connection to MySQL
engine = create_engine("sqlite:///RestaurantData.sqlite")
conn = engine.connect()

In [5]:
# Create tables withint database
Base.metadata.create_all(conn)

In [6]:
# Create both the Surfer and Board tables within the database
Base.metadata.create_all(conn)

In [7]:
# To push the objects made and query the server we use a Session object
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [8]:
password = "root"
username = "root"
host = "127.0.0.1"

In [9]:
engine.table_names()
rds_connection_string = "{username}:{password}@{host}/RestaurantData"
engine = create_engine(f'mysql+pymysql://{rds_connection_string}')
new_restaurant_data_df.to_sql(name='RestaurantData', con=engine, if_exists='append', index=False)
pd.read_sql_query('select * from restaurant_data', con=engine).head()

NameError: name 'new_restaurant_data_df' is not defined

Columns
name = response["restaurants"][0]["restaurant"]["name"]
lat = response["restaurants"][0]["restaurant"]["location"]["latitude"]
long= response["restaurants"][0]["restaurant"]["location"]["longitude"]
cuisines = response["restaurants"][0]["restaurant"]["cuisines"]
ave_cost = response["restaurants"][0]["restaurant"]["average_cost_for_two"]
rating = response["restaurants"][0]["restaurant"]["user_rating"]["aggregate_rating"]
vote = response["restaurants"][0]["restaurant"]["user_rating"]["votes"]
currency = response["restaurants"][0]["restaurant"]["currency"]
featured_image = response["restaurants"][0]["restaurant"]["featured_image"]
menu = response["restaurants"][0]["restaurant"]["menu_url"]

class RestaurantData(Base):
    __tablename__ = 'restaurants'
    id = Column(Integer, primary_key=True)
    name = Column(String(255))
    lat = Column(Float(5))
    lng = Column(Float(5))
    cuisine = Column(String(255))
    ave_cost = Column(Float(2))
    rating = Column(Integer)
    vote = Column(Integer)
    currency = Column(Integer)
    featured_image = Column(String(255))
    menu = Column(String(255))

In [ ]:
# Query the database and collect all of the surfers in the Surfer table
instance_list = session.query(RestaurantData)
for instance in instance_list:
    print(instance.name)
    print(instance.lat)
    print(instance.lng)
    print(instance.ave_cost)
    print(instance.rating)
    print(instance.vote)
    print(instance.price_range)
    print(instance.featured_image)
    print(instance.menu)