In [1]:
## Connecting to the database
import mysql.connector as mysql
%store -r restaurant_dict
%store -r cuisines_dict

## importing 'mysql.connector' as mysql for convenient

## connecting to the database using 'connect()' method
## it takes 3 required parameters 'host', 'user', 'passwd'
db = mysql.connect(
    host = "127.0.0.1",
    user = "root",
    passwd = "root"
)

print(db) # it will print a connection object if everything is fine

<mysql.connector.connection.MySQLConnection object at 0x110a10b38>

In [2]:
## creating an instance of 'cursor' class which is used to execute the 'SQL' statements in 'Python'
cursor = db.cursor()

## creating a databse called 'datacamp'
## 'execute()' method is used to compile a 'SQL' statement
## below statement is used to create tha 'datacamp' database
cursor.execute("DROP DATABASE IF EXISTS restauranttable")
cursor.execute("CREATE DATABASE IF NOT EXISTS restauranttable")
cursor.execute("USE restauranttable")
# databases = cursor.fetchall()

cursor.execute("DROP TABLE IF EXISTS restaurants")

# Restaurant Table

In [3]:
# Create restaurant table
cursor.execute("CREATE TABLE IF NOT EXISTS restaurants (id INT(11) NOT NULL AUTO_INCREMENT PRIMARY KEY, restaurant_id INT(11), `name` VARCHAR(128), lat DECIMAL(6,3), lng DECIMAL (6,3), cuisines VARCHAR(128), cuisine_categories VARCHAR(64), price_range INT(2), ave_cost DECIMAL(6,2), menu_url VARCHAR(255), featured_image VARCHAR(255), vote DECIMAL(6,2), rating DECIMAL(6,2)) ENGINE=InnoDB")

# Load Data into MySqyl

## Load Restaurant Data

In [4]:
restaurant_values = []
def r_listify(v):
    return v["restaurant_id"], v["name"], v["lat"], v["lng"], v["cuisines"], v["cuisine_categories"], v["price_range"], v["ave_cost"], v["menu_url"], v["featured_image"], v["vote"], v["rating"]

for v in restaurant_dict:
    entry_tuple = r_listify(v)
    restaurant_values.append(entry_tuple)

In [5]:
## defining the Query
query = "INSERT INTO restaurants (restaurant_id, name, lat, lng, cuisines, cuisine_categories, price_range, ave_cost, menu_url, featured_image, vote, rating) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"

## storing values in a variable
values = restaurant_values

## executing the query with values
cursor.executemany(query, values)

## to make final output we have to run the 'commit()' method of the database object
db.commit()
print(cursor.rowcount, "records inserted")

20 records inserted

In [6]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

In [7]:
engine = create_engine('mysql+pymysql://root:root@127.0.0.1/restauranttable')
session = Session(engine)

# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)
Base.classes.keys()

# Save references to each table
restaurants = Base.classes.restaurants


# Create a session
session = Session(engine)

In [8]:
business_id = 16810917
sel = [restaurants.restaurant_id, restaurants.name, restaurants.lat, restaurants.lng, restaurants.cuisines, restaurants.cuisine_categories, restaurants.price_range, restaurants.ave_cost, restaurants.menu_url, restaurants.featured_image, restaurants.vote, restaurants.rating]
results = session.query(*sel).filter(restaurants.restaurant_id == business_id).one()
results

AttributeError: type object 'restaurants' has no attribute 'location'

In [ ]:
from decimal import Decimal
restaurant_info ={
    "restaurant_id" : int(results[0]),
    "restaurant_name": results[1],
    "location" : results[2],
    "restaurant_lat": float(results[3]),
    "restaurant_lng": float(results[4]),
    "cuisine_offerings": results[5],
    "main_cuisine_category": results[6],
    "price_range" :  int(results[7]),
    "ave_cost" :  float(results[8]),
    "menu_url" :  results[9],
    "featured_image" :  results[10],
    "nbr_votes" : float(results[11]),
    "restaurant_rating" : float(results[12])
}

In [ ]:
restaurant_info

To get all restaurants in a given cuisine category