In [1]:
# Import dependencies
import mysql.connector as mysql

import sqlalchemy
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine, select, MetaData
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

In [2]:
## connecting to the database using 'connect()' method
## it takes 3 required parameters 'host', 'user', 'passwd'
# Place holder in case we cant to change the 
db = mysql.connect(
    host = "127.0.0.1",
    user = "root",
    passwd = "root"
)

In [3]:
# Create an engine to the restaurants database
engine = create_engine('mysql+pymysql://root:root@127.0.0.1/RestaurantData')
conn = engine.connect()

# meta = MetaData(engine,reflect=True)
# table = meta.tables['restaurants']

# Print the table names
print(engine.table_names())

['restaurants']

In [4]:
# Declare a Base using `automap_base()`
Base = automap_base()

In [5]:
# Use the Base class to reflect the database tables
Base.prepare(engine, reflect=True)

In [6]:
# Print all of the classes mapped to the Base
Base.classes.keys()

['restaurants']

In [7]:
# Assign the dow class to a variable called `Dow`
Res = Base.classes.restaurants

In [8]:
# Create a session
session = Session(engine)

In [9]:
# Display the row's columns and data in dictionary format
first_row = session.query(Res).first()
first_row.__dict__

{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState at 0x10d15ce10>,
 'price_range': 2,
 'rating': Decimal('4.90'),
 'cuisine': 'American, Sandwich',
 'lat': Decimal('34.06'),
 'id': 1,
 'featured_image': 'https://b.zmtcdn.com/data/res_imagery/16819715_RESTAURANT_d8c5a8adc5406e3a159186b82b1b3d56_c.jpg',
 'vote': Decimal('677.00'),
 'ave_cost': Decimal('20.00'),
 'lng': Decimal('-118.24'),
 'name': 'Philippe, The Original',
 'menu': 'https://www.zomato.com/los-angeles/philippe-the-original-chinatown/menu?utm_source=api_basic_user&utm_medium=api&utm_campaign=v2.1&openSwipeBox=menu&showMinimal=1#tabtop'}

In [10]:
# Use the session to query Dow table and display the first 5 trade volumes
for row in session.query(Res.name, Res.vote).all():
    print(row)

('Philippe, The Original', Decimal('677.00'))
('Bottega Louie', Decimal('752.00'))
('Pizzeria Mozza', Decimal('597.00'))
('The Griddle Cafe', Decimal('497.00'))
('Diddy Riese Cookies', Decimal('476.00'))
('Wurstk√ºche', Decimal('539.00'))
('Gjelina', Decimal('470.00'))
("Roscoe's House of Chicken & Waffles", Decimal('501.00'))
('The Bazaar by Jose Andres', Decimal('346.00'))
('Animal', Decimal('301.00'))
('Bossa Nova Brazilian Cuisine', Decimal('368.00'))
('Osteria Mozza', Decimal('378.00'))
('The Ivy', Decimal('221.00'))
('Canters', Decimal('258.00'))
("Father's Office", Decimal('365.00'))
('Providence', Decimal('213.00'))
('In-N-Out Burger', Decimal('282.00'))
('Alcove Cafe & Bakery', Decimal('293.00'))
('The Apple Pan', Decimal('362.00'))
('Daikokuya', Decimal('331.00'))