In [6]:
## Connecting to the database
import mysql.connector as mysql
from extract_transform import cleaned_dict

## importing 'mysql.connector' as mysql for convenient

## connecting to the database using 'connect()' method
## it takes 3 required parameters 'host', 'user', 'passwd'
db = mysql.connect(
    host = "127.0.0.1",
    user = "root",
    passwd = "root"
)


print(db) # it will print a connection object if everything is fine

ModuleNotFoundError: No module named 'extract_transform'

CREATE TABLE IF NOT EXISTS restaurants (
    id INT(11) NOT NULL AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255),
    lat DECIMAL(6,3),
    lng DECIMAL(6,3),
    cuisine VARCHAR(255),
    ave_cost INT(2),
    rating DECIMAL(4,2)
    vote INT(5),
    price_range INT(2),
    featured_image VARCHAR(255),
    menu VARCHAR(255)
);

In [3]:
## creating an instance of 'cursor' class which is used to execute the 'SQL' statements in 'Python'
cursor = db.cursor()

## creating a databse called 'datacamp'
## 'execute()' method is used to compile a 'SQL' statement
## below statement is used to create tha 'datacamp' database
cursor.execute("CREATE DATABASE IF NOT EXISTS RestaurantData")
cursor.execute("USE RestaurantData")
print(cursor.execute("SHOW DATABASES"))
databases = cursor.fetchall()
print(databases)

cursor.execute("DROP TABLE restaurants")
cursor.execute("CREATE TABLE IF NOT EXISTS restaurants (id INT(11) NOT NULL AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), lat DECIMAL(6,2), lng DECIMAL(6,2), cuisine VARCHAR(50), ave_cost DECIMAL(6,2), rating DECIMAL(6,2), vote DECIMAL(6,2), price_range INT(2), featured_image VARCHAR(255), menu VARCHAR(255))")

cursor.execute("DESC restaurants")
print(cursor.fetchall())

None
[('information_schema',), ('190314-Examples',), ('RestaurantData',), ('SharkSearch',), ('bigfoot',), ('customer_db',), ('icecream_db',), ('mysql',), ('performance_schema',), ('sys',), ('tech_occupational_db',)]
[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'), ('name', 'varchar(255)', 'YES', '', None, ''), ('lat', 'decimal(6,2)', 'YES', '', None, ''), ('lng', 'decimal(6,2)', 'YES', '', None, ''), ('cuisine', 'varchar(50)', 'YES', '', None, ''), ('ave_cost', 'decimal(6,2)', 'YES', '', None, ''), ('rating', 'decimal(6,2)', 'YES', '', None, ''), ('vote', 'decimal(6,2)', 'YES', '', None, ''), ('price_range', 'int(2)', 'YES', '', None, ''), ('featured_image', 'varchar(255)', 'YES', '', None, ''), ('menu', 'varchar(255)', 'YES', '', None, '')]

In [4]:
## getting all the tables which are present in 'datacamp' database
cursor.execute("SHOW TABLES")

tables = cursor.fetchall() ## it returns list of tables present in the database

## showing all the tables one by one
for table in tables:
    print(table)

('restaurants',)

In [ ]:
# load mysql data
# import MySQLdb
# import json

# db = MySQLdb.connect(...)    
# cursor = db.cursor() 

# dic = {'office': {'component_office': ['Word2010SP0', 'PowerPoint2010SP0']}}
# sql = "INSERT INTO ep_soft(ip_address, soft_data) VALUES (%s, %s)"

# cursor.execute(sql, ("192.xxx.xx.xx", json.dumps(dic)))
# cursor.commit()

In [ ]:
## defining the Query
query = "INSERT INTO restaurants (name, user_name) VALUES (%s, %s)"
## storing values in a variable
values = [
    ("Peter", "peter"),
    ("Amy", "amy"),
    ("Michael", "michael"),
    ("Hennah", "hennah")
]

## executing the query with values
cursor.executemany(query, values)

## to make final output we have to run the 'commit()' method of the database object
db.commit()